{% extends 'base.html' %}
{% block content %}
<br>
<div class='container'>
    <div class="row">
        <div class="col-md-12">
            <h5>INDIVIDUAL OUTSTANDINGS</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="">Individual Outstandings</a>
                <table class="table table-sm">
                    <tr>
                        <th>Patient</th>
                        <th>Total_Amount</th>
                        <th>Paid</th>
                        <th>Remainder</th>
                        <th>Invoices</th>
                    </tr>
    
                    {% for i in invoice %}
                        <tr>
                            <td>{{i.patient.user.username}}</td>
                            <td>{{i.Total_Amount}}</td>
                            <td>{{i.Paid_Amount}}</td>
                            <td>{{i.Outstanding}}</td>
                            <td><a href="{% url 'Invoice' i.id %}">Open invoice</a></td>
                        </tr>
                    {% endfor %}
    
                </table>
            </div>
        </div>
    
        
    
    </div>
    
</div>
{% endblock %}