{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
{% endblock %}
{% block content %}
<div class='content-section p-3 m-3'>
        <form class='form-group' method='POST'>
          {% csrf_token %}
          <div class='container m-3 p-3'>
              <fieldset class='form-group border p-3 m-3'>  
                  <legend>
                     <h3>Appointment form </h3>
                  </legend>
                  <div class="form-group">
                    {{form | crispy}}
                  </div>
                  <br>
                 <div class='row ml-10'>
                  <div class='form-group col-sm-2'>
                    <input type="submit" class="btn btn-success" value="Submit">
                  </div>
                  <div class='form-group'>
                    <input type='reset' class='btn btn-info' value='Cancel'></a>
                  </div>
                </div>
                </div>
         </fieldset>
        </form>
        <div class='border-top pt-2'>
        </div>
</div>

{% endblock %}