{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}
<section class='container m-5 p-4'>
    <h3> Registered Complaints</h3>
    {%for c in complaints %}
    <section class="media  p-3 mt-3">
        <section class="media-body p-3">
            <h4>Complaint:<a href="{% url 'DoctorComplaintDetailView' c.id %}">{{c.Complaint_Name}}</a></h4><small>Posted on {{c.Date | date}}</small>
            <h6>Registered patient : {{c.patient.user.username}} </h6>
            <a href="{% url 'AdvicePrescription' c.id  %}" class='btn btn-success'>Advice Prescription</a>
        </section>
    </section>
    {% endfor %}
</section>
{% endblock %}