{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
    
</style>
{% endblock %}
{% block content %}

<div class='container mt-5'>   
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Invoice</th>
            <th scope="col">Paid</th>
            <th scope='col'>Total Amount</th>
            <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for i in invoice %}
            <td><a href="{% url 'Invoice' i.id %}">Open Invoice</a></td>
            <td>{{i.Total_Amount}}</td>
            <td>{{i.Paid_Amount}}</td>
            <td>{{i.Date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
  
  