
{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>  
</style>
{% endblock %}
{% block content %}
<div class='container mt-5'>   
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Consulting Doctor</th>
            <th scope='col'>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for appointment in Appointments %}
            <td>{{appointment.Date}}</td>
            <td>{{appointment.Time}}</td>
            <td>{{appointment.doctor.user.username}}</td>
            <td>{{appointment.status}}</td>
            </tr>
            {% endfor %}
            <tr>
        </tbody>
    </table>
</div>
{% endblock %}
  
  